@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  margin: auto;
  font-family: "Caveat";
  color:#333;
}
.namebar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.namebar h1 {
  color: #f1356d ;
}

.content{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
